.DS_Store
node_modules

# Local Netlify folder
.netlify

.idea/
*/.idea/
.docker
.next
storybook-static
_
yarn-error.log

dist
.yarn
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.env
.env.local
.env.production
.env.staging
